nav#dot_nav {
  position: fixed;
  /* box의 오른쪽 긑을 화면의 오른쪽오르 부터 40px만큼 이격 */
  right: 40px;

  top: 50%;
}

nav#dot_nav li {
  width: 17px;
  height: 17px;
  position: relative;
  margin: 16px 7px;
}

nav#dot_nav li span {
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
